.App {
  text-align: center;
  color: black;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  margin-top: 60px;
  margin-bottom: 60px;
}

.App-header {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 80px;
  font-family: "Poppins", sans-serif;
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.App ul {
  list-style: none;
}
