.Photos img {
  border-radius: 5px;
  margin-bottom: 15px;
  max-width: 0 auto;
}

.Photos {
  margin: 0 auto;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

@media (max-width: 636px) {
  .Photos img {
    border-radius: 2px;
    margin-left: 0;
    margin-bottom: 8px;
    max-width: 0 auto;
    padding: 0;
  }
  .Photos {
    margin-left: 20px;
    margin-right: 20px;
  }
}
