.Results section {
  margin: 0px auto;
}

.Phonetic a:hover {
  color: white;
  transition: 400ms;
}

@media (max-width: 1360px) {
  .Results section {
    background: none;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    border: none;
    box-shadow: none;
    text-align: center;
  }
}
